.App {
	text-align: center;
}
a {
	text-decoration: none;
}

.homeContainer {
	background-image: url("../images/homecover.jpg") !important;
	/* background-repeat: no-repeat !important; */
	/* background-position: top !important; */
	background-size: cover !important;
}

.homeMenu {
	background-color: #fff !important;
}

.mobilebanner {
	background-image: url("../images/molior7.png") !important;
	background-size: cover !important;
}
